*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse Files #
.classpath
.project
.settings/
.checkstyle

# Build directories #
/target/

# Output
log.txt
out.txt

# Editors
*~
*.swp
.idea/
*.iml

# Mac OS
.DS_Store

# Python
*.pyc
__pycache__
